<div class="container">
  <div class="perfil">
    <h1>Nombre: {{UsuarioInyectado.usuario.nombre}} </h1>
    <h2>Apellido:{{UsuarioInyectado.usuario.apellido}} </h2>

  </div>
  <button (click)="cambiarNombre()">Cambiar Nombre</button>
</div>
