<div class="container">
  <h2>{{titulo}}</h2>
  <form [formGroup]="formularioArticulo">
    <div clas="form-group">
      <label for="">Titulo</label>
      <input type="text" class="form-control" formControlName="title">
    </div>

    <div clas="form-group">
      <label for="">Cuerpo</label>
      <input type="text" class="form-control" formControlName="body">
    </div>

    <div clas="form-group">
      <label for="">Seleccione un Usuario</label>
      <select class="form-control"  formControlName="userId">
        <option *ngFor="let usuario of usuarios" [value]="usuario.id"> {{ usuario.name}} </option>
      </select>
    </div>

    <button *ngIf="esNuevo" class="btn btn-primary" [disabled]="!formularioArticulo.valid" (click)="agregar()"  >Agregar</button>
    <button *ngIf="!esNuevo" class="btn btn-success" [disabled]="!formularioArticulo.valid" (click)="editar()"  >Editar</button>

  </form>
</div>