
<div class="container">
  <h1>{{ articulo.title }}</h1>
  <p>{{ articulo.body }}</p>

  <!-- <h4>{{ articulo.userId }}</h4> -->
  <h4>{{ usuario.name }}</h4>
  <p>El usuario es : {{ usuario.username}}</p>
  <p> {{ usuario.address.city }} {{ usuario.address.street }} </p>
</div>