<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Los Servicios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/perfil">Perfil</a>
      </li>

      <li class="nav-item" (click)="cambiarNombre()">
        <a class="nav-link" >Cambiar Nombre</a>
      </li>

      <li class="nav-item" routerLink="/agregar-articulo/true">
        <a class="nav-link" >Agregar</a>
      </li>
    
    </ul>
    <span class="navbar-text">
      Usuario: {{ UsuarioInyectado.usuario.nombre }} {{ UsuarioInyectado.usuario.apellido }}
    </span>
  </div>
</nav>